%h1 Search

- if @movies_or_tvs.count > 0
  %ul
    - @movies_or_tvs.each do |obj|
      %li
        #{obj.name}
      %li
        - if obj.is_a?(Tvdbobj)
          = link_to new_tvdb_votato_path(obj.id), :method => :get do
            Add TV Show
        - else
          = link_to new_tmdb_votato_path(obj.id), :method => :get do
            Add Movie
- else
  Crap.

/ TODO - rename this to results?