.plantations
  %ul
    - @plantations.each do |plantation|
      - unless @pluralized
        - @pluralized = plantation.media == 'TV' ? 'tv_shows' : 'movies'
      %li
        %a{ :href => plantation_path(plantation) } #{plantation.name}

/ TODO - num votatoes, last update, delete option