%ul.nav.nav-tabs.nav-justified.custom-footer
  %li
    %a{ :href => 'http://benspotatoes.mit-license.org' }
      License
  %li
    %a{ :href => about_path }
      About

- if Rails.env.development?
  .debug
    _____
    %h2 Debug Info:
    %h3 Params:
    = params.inspect
    %h3 Flash:
    = flash.inspect
    - if session[:admin_loaded]
      %h3 Session:
      = session.inspect