%ul.bare-ul.footer-links
  %li
    %a{ :href => 'http://benspotatoes.mit-license.org' }
      License
  %li
    %a{ :href => about_path }
      About

- if Rails.env.development?
  .debug
    %h2 Debug Info:
    %h3 Params:
    = params.inspect
    %h3 Flash:
    = flash.inspect
    %h3 Session:
    %h4
      - if session[:tvdbobj]
        TVDBOBJ: #{session[:tvdbobj]}
        %br
      - if session[:tmdbobj]
        TMDBOBJ: #{session[:tmdbobj]}