%ul.bare-ul
  %li
    %a{ :href => root_path } Votatoes
  - if user_signed_in?
    %li
      %a{ :href => find_votato_path } Search
    %li
      %a{ :href => plantations_path } Your Plantations
    %li
      %a{ :href => destroy_user_session_path } Sign Out
  - else
    %li
      %a{ :href => new_user_session_path } Sign In