%h1 About

%dl.dl-horizontal
  %dt
    Movies
  %dd
    Data provided by themoviedb
  %dt
    TV shows
  %dd
    Data provided by thetvdb
  %dt
    Application
  %dd
    Ruby on Rails hosted on Heroku