%h1 Hello Votatoes!

.jumbotron
  .container
    %h2 Your personalized to-watch list!
    %p Make a list and let your friends vote to pick what you should watch next!
    %p
      = link_to 'Get Started', new_user_session_path