%h1 Hello Votatoes!

.jumbotron
  .container
    %h2 Your own 'what-to-watch-next' list!
    %p Make a list and let your friends vote to pick what you should watch next!
    %p
      = link_to 'Get Started', new_user_session_path, :class => 'btn btn-primary btn-lg'